{% extends 'login_base.html' %}

{% block title %}
ERROR 404 - page not found
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <h3>
                <div style="text-align: center;">ERROR 404 - page not found</div>
            </h3>
            <h3>
                <div style="text-align: center;">Sorry, the page you are looking for does not exist.</div>
            </h3>
            <h3>
                <div
                        style="text-align: center;">Press <a onclick="history.back()">here</a> to go to the previous
                    page
                </div>
            </h3>
            <h3>
                <div style="text-align: center;">Or press <a onclick="location.href='/home/'">here</a> to return to
                    home
                </div>
            </h3>
            <p> The error is: {{error}}</p>
        </div>
    </div>
</div>
{% endblock %}
