{%extends 'login_base.html'%}

{%block css%}
{% block base_css %}
"../static/base.css"
{% endblock base_css %}
{%endblock css%}

{% block bar2 %}
<bar2>
    <button_search class="sidebar-button", title="Search">
        <img src="../static/image/search_FILL0_wght400_GRAD0_opsz48.png">
    </button_search>
    <button_input class="sidebar-button" onclick="location.href='/input/'", title="Input">
        <img src="../static/image/input_FILL0_wght400_GRAD0_opsz48.png">
    </button_input>
    <button_login class="sidebar-button" onclick="location.href='/login/'", title="Account">
        <img src="../static/image/face_FILL0_wght400_GRAD0_opsz48.png">
    </button_login>
    <button_cookie class="sidebar-button" onclick="location.href='/cookies/'", title="Cookies">
        <img src="../static/image/cookie_FILL0_wght400_GRAD0_opsz48.png">
    </button_cookie>
</bar2>
{% endblock bar2 %}
