{%extends 'login_base.html'%}

{% block bar2 %}
<bar2>
    <button_search class="sidebar-button">
        <img src="../static/image/search_FILL0_wght400_GRAD0_opsz48.png">
    </button_search>
    <button_input class="sidebar-button" onclick="location.href='/input'">
        <img src="../static/image/input_FILL0_wght400_GRAD0_opsz48.png">
    </button_input>
    <button_cookie class="sidebar-button" onclick="location.href='/cookies'">
        <img src="../static/image/cookie_FILL0_wght400_GRAD0_opsz48.png">
    </button_cookie>
</bar2>
{% endblock bar2 %}
