{%extends 'base.html'%}

{% block css %}
"../static/cookie_base.css"
{% endblock %}

{% block js %}

{% endblock js %}

{% block content %}
<button_back class="back-button" onclick="history.back()">
    <img src="../static/image/arrow_back_ios_FILL0_wght400_GRAD0_opsz48.png">
</button_back>
<button_cookie class="cookie" id="cookie">
    <img src="../static/image/cookie-307960_1280.png">
</button_cookie>
<score class="score">
    <img src="../static/image/score.png">
    <p id="counter"> 0 </p>
</score>
<cookies class="text-info">
    <p> this site makes use of cookies </p>
</cookies>
<script>
    let button = document.getElementById("cookie"),
        count = 0;
    button.onclick = function() {
        count += 1;
        counter.innerHTML = count;
    };
</script>
{% endblock content %}

