<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {% block js %}{% endblock %}
    <link rel="icon" type="image/png" href="../static/image/favicon.png">
    <link rel="stylesheet" href= {% block css %} "../static/css/login_base.css" {% endblock %}>


</head>
<body>
{% block bar2 %}
{% endblock %}

<bar1>
    <h1>{{title}}</h1>
    <button_home class="home-button" onclick="location.href='/home/'">
        <img src="../static/image/logo_course_4.png" alt="home">
    </button_home>
</bar1>

<field id="field">
    <div id="container">
    {% block content %}
    {% endblock %}
    </div>
<!--    <script type="text/javascript">-->
<!--        var timer = function() {-->
<!--            setTimeout(function(){ window.location.reload(); }, 1500);-->
<!--        };-->
<!--        timer();-->
<!--    </script>-->
</field>
{% block top_button %}
{% endblock %}
</body>
</html>