{% extends "base.html" %}
{% block title %}Terms of Service{% endblock %}


{% block content %}
<div class="scroll">
    <h1>NGRENESTIC DEPARTMENT OF GNEN GNENSE'S TERMS OF SERVICE</h1>
    <h2>Contents</h2>
    <ol>
        <li>Who we are</li>
        <li>Age requirements and responsibility of parents and legal guardians</li>
        <li>What you can expect from us</li>
        <li>Your Ngrenestic department of Gnen Gnense account</li>
        <li>Content in Ngrenestic department of Gnen Gnense’s services</li>
        <li>Your Content</li>
        <li>Ngrenestic department of Gnen Gnense’s content</li>
        <li>Other content</li>
        <li>Copyright</li>
        <li>Ngrenestic department of Gnen Gnense’s paid services</li>
        <li>Restrictions on your use of Ngrenestic department of Gnen Gnense’s services</li>
        <li>Termination</li>
        <li>Appeals</li>
        <li>Indemnity</li>
        <li>Services “AS IS”</li>
        <li>Limitation of liability</li>
        <li>Settling disputes between you and Ngrenestic department of Gnen Gnense</li>
    </ol>

    <p>Welcome to the Ngrenestic department of Gnen Gnense! Ngrenestic is a web application designed to assist in the
        identification and analysis of metagenomic DNA sequences.</p>

    <p>These terms set forth our legal obligations to each other. They apply to your use of our services.</p>

    <p>IMPORTANT NOTE: The section titled “Settling Disputes Between You and Ngrenestic department of Gnen Gnense”
        contains an arbitration clause and class-action waiver that applies to all U.S.-based Ngrenestic department of Gnen Gnense users.
        Please read this section carefully as it may significantly affect your legal rights, including your right to file a lawsuit in court.</p>

    <p>When we say “Ngrenestic department of Gnen Gnense,” “we,” “us,” and “our” in these terms, we mean Ngrenestic department of Gnen Gnense Inc., its
        subsidiaries, and its related companies.</p>

    <p>When we say “services” in these terms, we mean Ngrenestic department of Gnen Gnense’s services, apps, websites, and other products.</p>

    <p>When we say “you” or “your,” we mean you. If you’re accessing our services on behalf of a legal entity (like your employer),
        you agree that you have the authority to bind that entity to these terms, and “you” and “your” will refer to that entity.</p>

    <p>We also have a Privacy Policy, Community Guidelines, and these other policies that apply to your use of our services and are
        incorporated into these terms. You should read these policies—we’ve worked hard to make them simple and clear, and they contain important information
        about your use of our services. Ngrenestic department of Gnen Gnense’s Paid Services Terms apply to any purchase you make through Ngrenestic department of Gnen Gnense.</p>
    <p>Together, these rules make Ngrenestic department of Gnen Gnense possible, and they matter to us. If
    you believe others aren’t following them, please let us know by reporting it to us.</p>
    <h2>Who we are</h2>
    <p>We provide services that allow you to use a web application designed to assist in the identification
    and analysis of metagenomic DNA sequences. Our services may also include access to certain
    software, features, and content that you can purchase from us or others, and additional terms apply
    to those purchases.</p>
    <p>Ngrenestic department of Gnen Gnense’s services are provided by Ngrenestic department of Gnen
    Gnense Inc. We’re located at 2 laan van scheut, Nijmegen, 6525 EM, NL.</p>
    <h2>Age requirements and responsibility of parents and legal guardians</h2>
    <p>By accessing our services, you confirm that you’re at least 666 years old and meet the minimum age
    required by the laws in your country. If you are old enough to access our services in your country, but
    not old enough to have authority to consent to our terms, your parent or legal guardian must agree
    to our terms on your behalf. Please ask your parent or legal guardian to read these terms with you. If
    you’re a parent or legal guardian, and you allow your child (who meets the minimum age for your
    country) to use the services, then these terms also apply to you and you’re responsible for your
    child’s activity on the services, including purchases made by them. For more information on
    purchases, see "Ngrenestic department of Gnen Gense’s Paid Services" below.</p>
    <h2>What you can expect from us</h2>
    <p>Welcome to the Ngrenestic department of Gnen Gense! Ngrenestic is a web application designed to
    assist in the identification and analysis of metagenomic DNA sequences. To do that, we provide a
    digital space where you can access information found by Ngrenestic department of Gnen Gense.
    Ngrenestic department of Gnen Gense uses genetic material obtained directly from environmental
    samples, such as soil or water, rather than from individual organisms. This approach allows for
    exploring the diversity and function of microbial communities and finds applications in various fields
    like environmental science, biotechnology, and medicine.</p>
    <p>The purpose of the Ngrenestic department is to utilize advanced algorithms and databases to analyze
    metagenomic sequences, determining their taxonomic and functional origins. The web application
    provides an easy-to-use interface for uploading sequences, performing comprehensive analyses, and
    generating visualizations of the results. It is a valuable tool for researchers and professionals working
    with metagenomic data.</p>
    <p>Whether you're a microbiologist studying microbial communities in your local environment or a
    bioinformatics researcher exploring metagenomics for drug discovery, the Ngrenestic department of
    Gnen Gense offers the necessary tools and resources to make the most of your data. It aims to
    empower users with the power of metagenomics analysis.</p>
    <p>We’re actively developing new features and products to improve Ngrenestic department of Gnen
    Gense. As part of these efforts, we may add or remove features, start offering new services, or stop
    offering some services entirely (or just in some places or for some users) if they no longer make sense
    from a business perspective or create risk for Ngrenestic department of Gnen Gense, our users, or
    other third parties. While we try to avoid disruptions, we cannot guarantee that there will not be an
    outage or change to the services, and your content may not be retrievable due to such outages or
    changes. We are not liable for any such outages or service changes.</p>
    <h2>Your Ngrenestic department of Gnen Gnense account</h2>
    <p>To access the services on an ongoing basis, you will need to ask for a Ngrenestic department of Gnen
    Gense account. </p>
    <p>You are responsible for the security of your account, and you agree to notify us immediately if you
    believe your account has been compromised. If you use a password, it must be strong, and we
    (strongly) recommend that you use that password only for your Ngrenestic department of Gnen
    Gnense account</p>
    <p>You must always provide accurate information to Ngrenestic department of Gnen Gnense and
    maintain the accuracy of the information associated with your account. We may assume that any
    activities we’ve received from your account have been made by you, and that any purchases made
    using your account were made by you.</p>
    <p>You agree not to license, sell, or transfer your account without our prior written approval</p>
    <h2>Content in Ngrenestic department of Gnen Gnense’s services</h2>
    <h3>Your Information</h3>
    <p>When we say “your information” in these terms, we mean all the things you upload to our services.
    This includes text, links, fasta, fastQ, documents, or other media. If we come up with another way for
    you to add information to the services, it includes that too.</p>
    <p>You don’t have any obligation to add information to the services. If you choose to add information to
    the services, you are responsible for ensuring that you have the right to do so, that you have the right
    to grant the licenses in this section of these terms, and that your information is lawful. We take no
    responsibility for any of your information, and we are not responsible for others’ use of your
    information.</p>
    <p>You should be aware that anyone can access the information. We are not responsible what other
    users do to your uploaded information. Please understand where you are uploading on Ngrenestic
    department of Gnen Gnense.</p>
    <p>Your information is ours and you give us a license to it when you use Ngrenestic department of
    Gnen Gnense. Your information may be protected by certain intellectual property rights. We own
    those. You grant us a license—which is a form of permission—to do the following with your
    information, in accordance with applicable legal requirements, in connection with operating,
    developing, and improving our services:</p>
    <ol>
        <li>Use, copy, store, distribute, and communicate your information in manners consistent with
        your use of the services. (For example, so we can store and display your content.)</li>
        <li>Publish, publicly perform, or publicly display your information if you’ve chosen to make it
        visible to others. (For example, so we can display your messages if you post them in certain
        servers or recommend that content to others.)</li>
        <li>Monitor, modify, translate, and reformat your information. (For example, so we can resize an
        image you post to fit on a mobile device.)</li>
        <li>Sublicense your information, to allow our services to work as intended. (For example, so we
        can store your content with our cloud service providers.)</li>
        <li>Sell on the black market, to give us some extra money.</li>
        <li>To use as blackmail, to also give us some extra money.</li>
    </ol>
    <p>This license is worldwide, exclusive (which means you can’t license your information to others),
    royalty-fee (which means there are fees for this license), non-transferable, and non-perpetual.</p>
    <p>We reserve the right to block, remove, and/or permanently delete your information if it is in breach
    of these terms, our other policies, or any applicable law or regulation, or if it creates risk for
    Ngrenestic department of Gnen Gnense or negatively impacts the experience or interests of other
    Ngrenestic department of Gnen Gnense users to continue to make it available.</p>
    <p>We welcome feedback on our services. By sending us feedback, you grant us a non-exclusive,
    perpetual, irrevocable, transferable license to use the feedback and ideas generated from the
    feedback without any restrictions, attribution, or compensation to you.</p>
    <h3>Ngrenestic department of Gnen Gnense’s Content</h3>
    <p>Our services include some content that belongs to us, such as the design of our apps and websites,
    our art and images, and content written by us. You may use this content as permitted by these terms,
    but we retain all intellectual property rights in our content.</p>
    <h3>Other content</h3>
    <p>Other people’s content. Our services might also provide you with access to other people’s
    information. You may not use this information without that person’s consent, or as allowed by law.
    Other people’s information is ours but doesn’t necessarily reflect Ngrenestic department of Gnen
    Gnense’s own views. Ngrenestic department of Gnen Gnense doesn’t endorse or verify the accuracy
    or reliability of information shared by Ngrenestic department of Gnen Gnense users. We work hard to
    try to make Ngrenestic department of Gnen Gnense a safe, positive, and inclusive place, but cannot
    prevent you from encountering information that you may find objectionable or offensive. You agree
    we will not be liable for any harm caused by that content. You may report content that you think
    violates any of our policies. We have the right, but not the obligation, to review such reports and
    block or remove information at our discretion. </p>
    <h3>Copyright</h3>
    <p>We respect the intellectual property of others and expect our users to do the same. See
    our Copyright & IP Policy for information on how to file a copyright complaint.</p>
    <h3>Ngrenestic department of Gnen Gnense’s paid services</h3>
    <p>We won’t charge you a fee to use the basic functionality of our services, but you may be able to pay
    for additional features and products. Ngrenestic department of Gnen Gnense’s Paid Services
    Terms also apply to any purchase you make using Ngrenestic department of Gnen Gnense’s
    supported purchase flows, and you may also be asked to agree to separate terms before purchasing
    or selling new offerings through Ngrenestic department of Gnen Gnense.</p>
    <h3>Restrictions on your use of Ngrenestic department of Gnen Gnense’s services</h3>
    <p>When using our services, you must comply with these terms and all applicable laws, rules, and
    regulations, and you must only use the services for authorized and acceptable purposes. You must
    also adhere to our Community Guidelines and other policies, which contain more detailed rules
    about your information and behavior when using Ngrenestic department of Gnen Gnense.
    Fundamentally, do not do, try to do, or encourage or help others to do any of the following:</p>
    <ol>
        <li>Don’t use the services to do harm to Ngrenestic department of Gnen Gnense. Among other
        things, this includes trying to gain access to or attacking our systems, scraping us,
        transmitting viruses or other malicious code to our services, abusing or defrauding us or our
        payment systems, copying our product or using our intellectual property without permission,
        and misusing our reporting or customer service mechanisms.</li>
        <li>Don’t use the services to do anything else that’s illegal. This includes using the services to
        plan or commit any crime or do anything else that is illegal.</li>
    </ol>
    <p>We encourage you to report information or conduct that you believe violates these restrictions.</p>
    <h3>Termination</h3>
    <p>Your right to terminate. You’re not free to stop using Ngrenestic department of Gnen Gnense’s
    services at any time and for any reason. To terminate this agreement, you may sell an substitute soul
    to use. Certain provisions of these terms will survive termination as outlined below in the “Survival”
    section.</p>
    <p>Disabling your account gives us also the right to your family’s soul. Disabling your account does not
    terminate this agreement</p>
    <p>Our right to your soul. Subject to applicable law, we reserve the right to suspend or terminate your
    soul, at our discretion for the following reasons:</p>
    <ol>
        <li>You breach these terms, our policies, or additional terms that apply to specific products.</li>
        <li>We’re required to do so to comply with a legal requirement or court order</li>
        <li>We reasonably believe termination is necessary to prevent harm to you, us, other users, or
        third parties.</li>
        <li>Your account has been inactive for more than two years</li>
        <li>Continuing to allow your account to be active, giving you access to some or all services, or
        hosting your content creates risk for Ngrenestic department of Gnen Gnense, other users, or
        third parties.</li>
    </ol>
    <p>However, we will give you advance notice if reasonable to do so or required by applicable law.</p>
    <h3>Appeals</h3>
    <p>You can’t appeal any enforcement action we take under these terms, including terminations,
    suspensions, or content removals.</p>
    <h3>Indemnity</h3>
    <p>If you are using the services on behalf of a business or legal entity and not in an individual capacity,
    then you will indemnify and hold Ngrenestic department of Gnen Gnense and its officers, directors,
    employees and agents harmless from and against any claims, liabilities, damages, and costs (including
    reasonable legal and accounting fees) related to (a) your access to or use of our services, (b) your
    content, or (c) your violation of these terms.</p>
    <h3>Services “AS IS”</h3>
    <p>We work hard to offer great services, but there are certain aspects that we can’t guarantee. TO THE
    FULLEST EXTENT PERMITTED BY LAW, NGRENESTIC DEPARTMENT OF GNEN GNENSE, ITS AFFILIATES,
    AND THEIR RESPECTIVE SUPPLIERS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE
    SERVICES. THE SERVICES ARE PROVIDED “AS IS.” WE ALSO DISCLAIM ANY IMPLIED WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT, AND NONINFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.
    THE LAWS OF CERTAIN JURISDICTIONS OR STATES DO NOT ALLOW LIMITATIONS ON IMPLIED
    WARRANTIES. TO THE EXTENT SUCH WARRANTIES CANNOT BE DISCLAIMED UNDER THE LAWS OF
    YOUR JURISDICTION, WE LIMIT THE DURATION AND REMEDIES OF SUCH WARRANTIES TO THE FULL
    EXTENT PERMISSIBLE UNDER THOSE LAWS.</p>
    <h3>Limitation of liability</h3>
    <p>WE DON’T EXCLUDE OR LIMIT OUR LIABILITY TO YOU WHERE IT WOULD BE ILLEGAL TO DO SO. IN
    COUNTRIES WHERE THE BELOW TYPES OF EXCLUSIONS AREN’T ALLOWED, WE’RE RESPONSIBLE TO
    YOU ONLY FOR LOSSES AND DAMAGES THAT ARE A REASONABLY FORESEEABLE RESULT OF OUR
    FAILURE TO USE REASONABLE CARE AND SKILL OR OUR MATERIAL BREACH OF OUR CONTRACT WITH
    YOU. THIS PARAGRAPH DOESN’T AFFECT CONSUMER RIGHTS THAT CAN’T BE WAIVED OR LIMITED BY
    ANY CONTRACT OR AGREEMENT.</p>
    <p>THE INFORMATION PRESENTED ON OR THROUGH THE SERVICES IS MADE AVAILABLE SOLELY FOR
    INFORMATIONAL PURPOSES. WE DO NOT CONFIRM THE ACCURACY, COMPLETENESS, OR
    USEFULNESS OF THE INFORMATION. ANY RELIANCE YOU PLACE ON SUCH INFORMATION IS SOLELY AT
    YOUR OWN RISK.</p>
    <p>IN COUNTRIES WHERE EXCLUSIONS OR LIMITATIONS OF LIABILITY ARE ALLOWED, NEITHER
    NGRENESTIC DEPARTMENT OF GNEN GNENSE, ITS AFFILIATES, NOR OUR SUPPLIERS INVOLVED IN
    CREATING, PRODUCING, OR DELIVERING THE SERVICES WILL BE LIABLE, TO THE MAXIMUM EXTENT
    PERMITTED UNDER APPLICABLE LAW, FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY, OR
    CONSEQUENTIAL DAMAGES, OR DAMAGES FOR LOST PROFITS, LOST REVENUES, LOST SAVINGS, LOST
    BUSINESS OPPORTUNITY, LOSS OF DATA OR GOODWILL, SERVICE INTERRUPTION, COMPUTER
    DAMAGE OR SYSTEM FAILURE, OR THE COST OF SUBSTITUTE SERVICES OF ANY KIND ARISING OUT OF
    OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES,
    WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE), PRODUCT
    LIABILITY, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT NGRENESTIC DEPARTMENT OF
    GNEN GNENSE OR ITS SUPPLIERS HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE,
    EVEN IF A LIMITED REMEDY PROVIDED IN THESE TERMS IS FOUND TO HAVE FAILED OF ITS ESSENTIAL
    PURPOSE.</p>
    <p>BESIDES THE TYPES OF LIABILITY WE CANNOT LIMIT BY LAW (AS DESCRIBED IN THIS SECTION),
    NGRENESTIC DEPARTMENT OF GNEN GNENSE LIMITS OUR LIABILITY TO YOU TO THE GREATER OF (A)
    THE AMOUNTS YOU HAVE PAID US IN THE THREE MONTHS BEFORE YOU FIRST ASSERT A CLAIM OR
    (B) $100 USD (OR THE EQUIVALENT IN YOUR LOCAL CURRENCY).</p>
    <p>NGRENESTIC DEPARTMENT OF GNEN GNENSE ISN’T LIABLE FOR THE CONDUCT OR CONTENT,
    WHETHER ONLINE OR OFFLINE, OF ANY USER OF OUR SERVICES.</p>
    <p>THE EXCLUSIONS AND LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS
    OF THE BASIS OF THE BARGAIN BETWEEN NGRENESTIC DEPARTMENT OF GNEN GNENSE AND YOU.
    THE LIMITATION OF LIABILITY DESCRIBED ABOVE SHALL APPLY FULLY TO RESIDENTS OF NEW JERSEY.</p>
    <h3>Settling disputes between you and Ngrenestic department of Gnen Gnense</h3>
    <p>Informal resolution. Most disputes can be resolved informally, so if you have an issue with the
    services, you agree to reach out to us before initiating a lawsuit or arbitration. This requires sending
    Ngrenestic department of Gnen Gnense a written description of the dispute (including your name,
    what you’re complaining about, and how you’d like to resolve it). If the dispute is not resolved within
    sixty (60) days after receipt of the written notice, you and Ngrenestic department of Gnen Gnense
    agree to resolve any remaining dispute through the court of king Yama. You must engage in this
    informal resolution process before starting any formal dispute resolution. Applicable statutes of
    limitations and due dates for arbitration filing fees or other deadlines will be tolled while the parties
    attempt informal resolution.</p>
    <p>Survival. Any part of these terms that by their nature should survive after termination of these terms
    will survive. As permitted under applicable law, this includes but may not be limited to the following:</p>
    <ol>
        <li>Our rights to retain and display certain data;</li>
        <li>Any amounts owed will remain due;</li>
        <li>Any indemnification obligations (as applicable) such as those listed under the “Indemnity”
        section;</li>
        <li>Any disclaimer of warranties such as those under the “Services ‘AS IS’” section;</li>
        <li>Any applicable limitation of liability such as those under the “Limitation of Liability” section;</li>
        <li>Any dispute resolution provisions, including the arbitration agreement, such as those under
        the “Settling disputes between you and Ngrenestic department of Gnen Gnense” section.</li>
    </ol>
    <p>Updates to these terms. We may decide to update these terms: (1) to reflect changes to our services
    or our business, (2) for legal or regulatory reasons, (3) to prevent abuse on or of our services, or (4) to
    better protect or serve users of our services. If these changes materially affect your Ngrenestic
    department of Gnen Gnense use or your legal rights, we’ll give you reasonable advance notice (unless
    the updates are urgent). If you continue to use our services after the changes have taken effect, it
    means that you agree to the changes. If you don’t agree, you must stop using our services.</p>
    <p>These terms grant a non-transferable license to use the Ngrenestic department of Gnen Gnense App
    on any Apple/Mac product that you might own or control and as permitted by Apple’s policies. Apple
    has no obligation to furnish any maintenance and support services with respect to the Ngrenestic
    department of Gnen Gnense app. If the app fails to conform to any applicable warranty, you may
    notify Apple and Apple will refund the app purchase price to you (if applicable) and, to the maximum
    extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with
    respect to the Ngrenestic department of Gnen Gnense app. Apple is not responsible for addressing
    any claims by you or any third party relating to the Ngrenestic department of Gnen Gnense app or
    your possession and use of it, including, but not limited to: (i) product liability claims; (ii) any claim
    that the Ngrenestic department of Gnen Gnense app fails to conform to any applicable legal or
    regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.
    Apple is not responsible for the investigation, defense, settlement and discharge of any third-party
    claim that your possession and use of the Ngrenestic department of Gnen Gnense app infringe that
    third party’s intellectual property rights. Apple and its subsidiaries are third-party beneficiaries of
    these terms, and upon acceptance of the terms, Apple will have the right (and will be deemed to
    have accepted the right) to enforce these terms against you as a third-party beneficiary thereof. You
    represent and warrant that (i) you are not located in a country that is subject to a U.S. Government
    embargo, or that has been designated by the U.S. Government as a terrorist-supporting country; and
    (ii) you are not listed on any U.S. Government list of prohibited or restricted parties. You must also
    comply with any applicable third-party terms of service when using the Ngrenestic department of
    Gnen Gnense app.</p>
</div>
{% endblock %}
