{% extends "base.html" %}
{% block title %}Terms of Service{% endblock %}


{% block content %}
<div class="scroll">
    <h1>NGRENESTIC DEPARTMENT OF GNEN GNENSE'S TERMS OF SERVICE</h1>
    <h2>Contents</h2>
    <ol>
        <li>Who we are</li>
        <li>Age requirements and responsibility of parents and legal guardians</li>
        <li>What you can expect from us</li>
        <li>Your Ngrenestic department of Gnen Gnense account</li>
        <li>Content in Ngrenestic department of Gnen Gnense’s services</li>
        <li>Your Content</li>
        <li>Ngrenestic department of Gnen Gnense’s content</li>
        <li>Other content</li>
        <li>Copyright</li>
        <li>Ngrenestic department of Gnen Gnense’s paid services</li>
        <li>Restrictions on your use of Ngrenestic department of Gnen Gnense’s services</li>
        <li>Termination</li>
        <li>Appeals</li>
        <li>Indemnity</li>
        <li>Services “AS IS”</li>
        <li>Limitation of liability</li>
        <li>Settling disputes between you and Ngrenestic department of Gnen Gnense</li>
    </ol>

    <p>Welcome to the Ngrenestic department of Gnen Gnense! Ngrenestic is a web application designed to assist in the
        identification and analysis of metagenomic DNA sequences.</p>

    <p>These terms set forth our legal obligations to each other. They apply to your use of our services.</p>

    <p>IMPORTANT NOTE: The section titled “Settling Disputes Between You and Ngrenestic department of Gnen Gnense”
        contains an arbitration clause and class-action waiver that applies to all U.S.-based Ngrenestic department of Gnen Gnense users.
        Please read this section carefully as it may significantly affect your legal rights, including your right to file a lawsuit in court.</p>

    <p>When we say “Ngrenestic department of Gnen Gnense,” “we,” “us,” and “our” in these terms, we mean Ngrenestic department of Gnen Gnense Inc., its
        subsidiaries, and its related companies.</p>

    <p>When we say “services” in these terms, we mean Ngrenestic department of Gnen Gnense’s services, apps, websites, and other products.</p>

    <p>When we say “you” or “your,” we mean you. If you’re accessing our services on behalf of a legal entity (like your employer),
        you agree that you have the authority to bind that entity to these terms, and “you” and “your” will refer to that entity.</p>

    <p>We also have a Privacy Policy, Community Guidelines, and these other policies that apply to your use of our services and are
        incorporated into these terms. You should read these policies—we’ve worked hard to make them simple and clear, and they contain important information
        about your use of our services. Ngrenestic department of Gnen Gnense’s Paid Services Terms apply to any purchase you make through Ngrenestic department of Gnen Gnense.</p>

</div>
{% endblock %}
