/* Author: Douwe Berkeij
    Created: 26-4-2023
    Description: CSS for application
 */

body {
    background-color: #76747c;
    font-family: Arial, serif;
    font-size: 16px;
    color: #3b3b3b;
}

bar1 {
    background-color: #3f3f44;
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("../image/background.png");
}

bar2 {
    background-color: #595959;
    width: 6%;
    height: 83%;
    position: fixed;
    bottom: 1%;
    left: 0;
    z-index: 1;
    border-radius: 0 25px 25px 0;
}
field {
    background-color: #76747c;
    width: 94%;
    height: 85%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: auto;
}

h1 {
    font-size: 10vh;
    color: #e7e7e7;
    font-family: Arial, serif;
    text-align: center;
    margin-top: 1%;
}

.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    position: absolute;
    left: 20%;
}

button_search.sidebar-button {
    top: 15%;
}

button_input.sidebar-button {
    top: 3%;
}

button_cookie.sidebar-button {
    bottom: 5%;
}

button_login.sidebar-button {
    bottom: 17%;
}

.sidebar-button img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

.home-button {
    display: flex;
    max-height: 100%;
    width: 15%;
    position: absolute;
    left: 1%;
    bottom: 5%;
    overflow: hidden;
}
.home-button img {
    max-height: 90%;
    width: 100%;
}


h2 {
    font-size: 3vh;
    color: #e7e7e7;
    font-family: Arial, serif;
    text-align: center;
    margin-top: 1%;
    padding: 2%;
}
h3 {
    font-size: 2.7vh;
    color: #e7e7e7;
    font-family: Arial, serif;
    text-align: left;
    margin-top: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
}

p {
    font-size: 2.5vh;
    color: #e7e7e7;
    font-family: Arial, serif;
    text-align: left;
    margin-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

h2.English .show {
    visibility: visible;
}
p.Binary .hide {
    visibility: hidden;
}

b1 {
    font-size: 3vh;
    color: #e7e7e7;
    font-family: Arial, serif;
    text-align: left;
    margin-top: 1%;
}
b2 {
    font-size: 2.5vh;
    color: #e7e7e7;
    font-family: Arial, serif;
    text-align: left;
    margin-top: 1%;
    font-weight: bold;
}

div {
    margin: 30px;
}

ol {
    font-size: 2.5vh;
    color: #e7e7e7;
    font-family: Arial, serif;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 12%;
    padding-right: 10%;
}
ul {
    font-size: 2.5vh;
    color: #e7e7e7;
    font-family: Arial, serif;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
}
.scroll {
    overflow-y: scroll;
}

.form {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Popup container */
.info-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 5px;
}

.info-button img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

/* The actual popup (appears on top) */
.info-button .popuptext_bottom {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    left: -90%;
    margin-left: -80px;
}

.info-button .popuptext_top {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -90%;
    margin-left: -80px;
}

/* Popup arrow */
.info-button .popuptext_bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
.info-button .popuptext_top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.info-button .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#button_to_top {
  display: inherit; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1%; /* Place the button at the bottom of the page */
  right: 1%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 2px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#button_to_top img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    transform: rotate(90deg) translate(20%, -8%);
}

#button_to_top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #555;
    color: #e7e7e7;
}
td {
    background-color: #696969;
    color: #e7e7e7;
    border: 1.5px solid #555;
}

#translate {
    display: flex;
    max-height: 100%;
    width: 3%;
    position: absolute;
    top: 2%;
    overflow: hidden;
    background: #76747c;
    border: none;
}
#translate img {
    max-height: 90%;
    width: 100%;
}
