/* Author: Douwe Berkeij
    Created: 26-4-2023
    Description: CSS for application
 */


body {
    background-color: #76747c;
    font-family: Arial, serif;
    font-size: 16px;
    color: #3b3b3b;
}

bar1 {
    background-color: #383D57;
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("logo cource 4.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

bar2 {
    background-color: #6EA4BF;
    width: 6%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

h1 {
    font-size: 10vh;
    color: #000000;
    font-family: Arial, serif;
    text-align: center;
    margin-top: 1%;
}

button_searce.button1 {
    border: none;
    cursor: pointer;
    background-color: inherit;
    appearance: none;
    position: fixed;
    top: 16%;
}
